<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimitri.mapper.UserMapper">
    <insert id="createUser" parameterType="java.lang.Integer">
        INSERT INTO user (qq) values (#{qq})
    </insert>

    <update id="lockIsWork" parameterType="java.lang.Integer">
        update user set is_work=true where qq=#{qq}
    </update>
    <update id="unLockWord" parameterType="java.lang.Integer">
        update user set is_work=false where qq=#{qq}
    </update>
    <update id="updateUserMoney" parameterType="java.lang.Integer">
        update user set money=#{allMoney} where qq=#{qq}
    </update>

    <select id="getUserInfo" resultType="com.dimitri.entity.User">
        select qq,money,is_work from user where qq=#{qq}
    </select>

    <select id="getAllMoney" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select money from user where qq=#{qq}
    </select>
</mapper>
